<ion-view title="合同详情" ng-controller="DetailsCtrl">
  <ion-content class="has-header">
  <div class="list">
	  <a class="item" href="#">
	    <label for="contractNumber">合同号：<span id="contractNumber">{{result.PCONTRACT_ID}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">外部合同号：<span id="contractNumber">{{result.PCONTRACT_NO}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">供应商名称：<span id="contractNumber">{{result.PROVIDER_NAME}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">组织代码：<span id="contractNumber">{{result.SEG_NO}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">组织名称：<span id="contractNumber">{{result.SEG_NAME}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">合同大类：<span id="contractNumber">{{result.PCONTRACT_TYPE}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">合同类型：<span id="contractNumber">{{result.BUSINESS_TYPE_CONTRACT}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">合同类型名称：<span id="contractNumber">{{result.BUSINESS_TYPE_CONTRACT_NAME}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">品种大类：<span id="contractNumber">{{result.MATERIAL_CLASS}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">合同总金额：<span id="contractNumber">{{result.TOTAL_AMOUNT}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">币种：<span id="contractNumber">{{result.CURRENCYID}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">起始有效期：<span id="contractNumber">{{result.BEGIN_VALID_DATE}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">截止有效期：<span id="contractNumber">{{result.END_VALID_DATE}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">合同描述：<span id="contractNumber">{{result.CONTRACT_NAME}}</span></label>
	  </a>
	  <a class="item" href="#">
	    <label for="contractNumber">最新版本号：<span id="contractNumber">{{result.LAST_VERSION}}</span></label>
	  </a>
	</div>
  </ion-content>
</ion-view>